
<h2>Comentários:</h2>

[% FOREACH comment IN dados.comments %]

<blockquote>
Por [% comment.user.name %] em [% comment.create_time.strftime('%d/%m/%Y') %] às [% comment.create_time.strftime('%H:%M:%S') %] 

<br/><br/>

[% comment.description %]
</blockquote>

[% END %]


