
[% USE String %]

[% FOREACH ideia = collection.dados.all %]

<blockquote>
* <a href="/dados/ver/[% dado.id %]">[% dado.title %]</a> postada no dia [% dado.create_time.strftime('%d/%m/%Y') %].<br/>

[% desc = String.new(dado.description) %]
[% IF desc.length > 60 %]
	[% desc.substr(0,60) %]...
[% ELSE %]
	[% desc %]
[% END %]

<hr size=1>
Tags: [% FOREACH item = dado.tags %] [% item.tag.name %] [% END %]
</blockquote>

[% END %]

