
<h1>Dados</h1>

<p>Você tem algum dado para compartilhar em formato aberto ?</p>

[% IF user %] <a href="/dados/nova">clique aqui!</a> 
[% ELSE %] efetue <a href="/login">login</a> e preencha um simples formulario!
[% END %]

[% INCLUDE listar_items.tt items = collection.dados.all %]

