
<h1>Dados</h1>

<h2>[% dado.title %]</h2>

<p>Postado no dia [% dado.create_time.strftime('%d/%m/%Y') %] às [% dado.create_time.strftime('%H:%M:%S') %] por [% dado.user.name %].</p>

[% INCLUDE listar_tags.tt tags = dado.tags %]

<blockquote>
[% dado.description %]
</blockquote>

[% INCLUDE listar_comentarios.tt comentarios = dado.comments %]

[% IF user %]
	[% INCLUDE comentar.tt %]
[% ELSE %]
	Para comentar efetue o <a href="/login">login</a>.
[% END %]

