
<h1>Cadastro</h1>

[% IF success %]

Cadastro realizado com sucesso ! 

[% ELSE %]

[% IF error_msg %]
<b>Erro: [% error_msg %]</b>
<Br/><br/>
[% END %]

<p>Com o cadastro, você pode compartilhar ideias, dados e projetos relacionados a informações de opendata do governo brasileiro.</p>

[% INCLUDE usuario/campos.tt %]

[% END %]

