
<h1>Ideias</h1>

[% IF success %]

<p>
Ideia compartilhada! Ela será publicada em breve, depois da analise de nossos moderadores.
</p>

[% ELSE %]

	[% IF error_msg %]

	<p>Erro: <b> [% error_msg %] </b> </p>

	[% END %]

[% INCLUDE ideias/campos.tt %]

[% END %]

