
<h1>Especifica&ccedil;&atilde;o</h1>


<p>Vers&atilde;o 0.1-rc1</p>
<ul>
<li><a href="/docs/EspecificacaoOpenData-BR-0.1-rc1.pdf">Especifica&ccedil;&atilde;o 0.1-rc1 OpenData-BR (PDF)</a></li>
</ul>
