
<Table><tr><td valign="top">
<center>
<img src="/static/images/logos/proposta_logo_opendata_inicial.png">
</center>
</td><td valign="top">

<p>Seja muito bem vindo ao projeto do OpenData-BR.</p>

<p>Nosso principal objetivo aqui é disponibilizar dados no formato aberto, assim como ser um repositório de ideias para sociedade.</p>

<p><b>Hoje somos</b></p>
<ul>
<li>N ideias</li>
<li>N usuarios</li>
</ul>

</td></tr></table>

