
[% USE String %]

[% FOREACH dado = items %]

<blockquote>
* <a href="/[% zone %]/ver/[% dado.id %]">[% dado.title %]</a> postada no dia [% dado.create_time.strftime('%d/%m/%Y') %].<br/>

[% desc = String.new(dado.description) %]
[% IF desc.length > 60 %]
	[% desc.substr(0,60) %]...
[% ELSE %]
	[% desc %]
[% END %]

<hr size=1>
[% INCLUDE listar_tags.tt tags = dado.tags %]
</blockquote>

[% END %]

